@charset "utf-8";

/*
    
        作者：遇见
        时间：2019.05
        网站：趣呵茶网
        功能：购物车功能
*/

body {
    font: 12px "微软雅黑";
}

/*公共样式*/

/*鼠标滑过全部分类显示*/
.menu .allbtn .jspop_box {
  display: none; }

.allbtn:hover .jspop_box {
  display: block; }

.menu .allbtn h2 a:hover .jspop_box {
  display: block; }


/*公共样式分割线-------------------------------------------------*/ 



#cart {
    width: 100%;
}
.cart_main {
    height: 100%;
    border-top: 2px solid #60a411;
        input {
            margin: 0;
            padding: 0;
            border: 1px solid #ccc;
        }
        li {
            clear: both;
        }
        .cart_sol {
            height: 100%;
                .title {
                    height: 36px;
                    margin-bottom: 15px; 
                        em {
                            float: right;
                            line-height: 25px;
                            height: 25px;
                            margin-top: 10px;
                            font-style: normal;
                                .buy {
                                    color: #ffffff;
                                    background-color: #cd0606;
                                    padding-top: 3px;
                                    padding-right: 10px;
                                    padding-bottom: 3px;
                                    padding-left: 10px;
                                }
                                strong {
                                    font-size: 14px;
                                    color: #cd0606;
                                    padding-right: 5px;
                                    padding-left: 5px;
                                    font-weight: normal;
                                }
                        }
                         h3 {
                            text-align: left;
                            float: left;
                            height: 36px;
                            width: 500px;
                            line-height: 36px;
                            font-size: 24px;
                            color: #000000;
                        }
                }
                /*购物车商品列表*/ 
                .cart_list {
                    clear: both;
                    margin-top: 0px;
                        li {
                            clear: both;
                            
                                p {
                                    float: left;
                                    // text-align: center;
                                    // padding-top: 25px;
                                    // color: #888888;
                                }
                                
                        }
                        .txa {
                            line-height: 38px;
                            height: 38px;
                            color: #8c8c8c;
                            // border-top: 1px solid #e0e0e0;
                            // border-left: 1px solid #e0e0e0; 
                            // border-right: 1px solid #e0e0e0;
                            border: 1px solid #e0e0e0;
                                li {
                                    background-color: #fff;
                                }
                                p {
                                    float: left;
                                    padding-top: 0px;
                                    color: #8c8c8c;
                                }
                                .ck {
                                    width: 30px;
                                    padding-left: 20px;
                                    // padding-top: 40px;
                                    text-align: left;
                                }  
                                .img {
                                    width: 80px;
                                    // height: 80px;
                                    // padding-top: 12px;
                                    padding-right: 15px;
                                    // padding-bottom: 12px;
                                    padding-left: 15px;
                                    height: auto;
                                    padding-bottom: 0px;
                                }
                                .txt {
                                    width: 370px;
                                    padding-right: 120px;
                                    padding-left: 10px;
                                    text-align: left;
                                }
                                .mpri, .save, .pri {
                                    width: 110px;
                                }
                                .sunm {
                                    width: 100px;
                                    position: relative;
                                }
                                .st {
                                    width: 80px;
                                }
                        }    
                }
                .ShoppingCartList {
                     height: 100%;
                        .txb {
                            background-color: #f7f7f7;
                            position: relative;
                            line-height: 35px;
                            margin-top: -1px;
                            z-index: 9;
                            border: 1px solid #e0e0e0;
                            padding-top: 7px;
                            padding-bottom: 7px;
                                p {
                                    float: left;
                                    padding-top: 0px;
                                    color: #111111;
                                    text-align: center;
                                }
                                .cd {
                                    padding: 2px 0 0 20px;
                                    height: 20px;
                                    width: 20px;
                                    text-align: left;
                                }
                                .ico {
                                    width: 50px;
                                    padding-left: 8px;
                                        span {
                                            background-image: url(../images/cart1.png);
                                            background-repeat: no-repeat;
                                            height: 16px;
                                            width: 16px;
                                            margin-right: auto;
                                            margin-left: auto;
                                            display: block;
                                            margin-top: 10px;
                                            line-height: 40px;
                                            overflow: hidden;
                                        }
                                }
                                .bt2 {
                                    font-size: 14px;
                                }
                                .bt3 {
                                    padding-left: 15px;
                                }
                        }
                        .txd {
                            background-color: #ffffff;
                            position: relative;
                            height: 30px;
                            z-index: 1;
                            border-right: 1px solid #e0e0e0;
                            border-bottom: 1px solid #e0e0e0;
                            border-left: 1px solid #e0e0e0;
                                p {
                                    float: left;
                                    text-align: center;
                                    padding-top: 0px;
                                }
                                .tx {
                                    height: 20px;
                                    width: 80px;
                                    background-color: #f5f5f5;
                                    line-height: 20px;
                                    color: #6c6c6c;
                                    position: absolute;
                                    z-index: 99;
                                    left: 64px;
                                    bottom: -1px;
                                    border: 1px solid #e0e0e0;
                                }
                        }
                        .pro {
                            background-color: #ffffff;
                            border-right: 1px solid #e0e0e0; 
                            border-left: 1px solid #e0e0e0;
                            border-bottom: 1px dotted #e0e0e0;
                            text-align: center;
                            color: #888;
                            height: 100%;
                            overflow: hidden;
                            
                                p {
                                    float: left;
                                    text-align: center;
                                    padding-top: 25px;
                                    color: #888;
                                }
                                .ce {
                                    width: 30px;
                                    padding-left: 20px;
                                    padding-top: 40px;
                                    text-align: left;

                                }
                                .pro_img {
                                    width: 80px;
                                    padding: 12px 15px;
                                    
                                        img {
                                            height: 80px;
                                            width: 80px;
                                        }
                                        .juan {
                                            color: #ffffff;
                                            background-color: #ff9518;
                                            height: 80px;
                                            width: 80px;
                                            margin-right: auto;
                                            margin-left: auto;
                                            display: block;
                                                .strong {
                                                    text-align: center;
                                                    display: block;
                                                    line-height: 35px;
                                                    height: 35px;
                                                    font-size: 18px;
                                                    padding-top: 10px;
                                                }
                                                .small {
                                                    line-height: 20px;
                                                    padding-right: 5px;
                                                    padding-left: 5px;
                                                    height: 20px;
                                                    overflow: hidden;
                                                    font-size: 12px;
                                                }
                                        }
                                }
                                .txt {
                                    width: 370px;
                                    padding-right: 120px;
                                    padding-left: 10px;
                                    text-align: left;
                                    color: #888;
                                }
                                .mpri {
                                    width: 110px;
                                        del {
                                            display: block;
                                            color: #9c9c9c;
                                            font-family: Arial, Helvetica, sans-serif;
                                            height: 20px;
                                            text-decoration: line-through;
                                        }
                                        strong {
                                            font-weight: normal;
                                            color: #3c3c3c;
                                            line-height: 16px;
                                            height: 16px;
                                            font-family: Arial, Helvetica, sans-serif;
                                        }
                                }
                                .save {
                                    width: 110px;
                                        strong {
                                            font-weight: normal;
                                        }
                                        small {
                                            font-size: 12px;
                                            color: #ffffff;
                                            background-color: #ff9518;
                                            display: block;
                                            margin-right: auto;
                                            margin-left: auto;
                                            width: 36px;
                                            text-align: center;
                                            line-height: 17px;
                                            height: 17px;
                                        }
                                }
                                .sunm {
                                    width: 100px;
                                    position: relative;
                                        input {
                                            background-repeat: no-repeat;
                                            background-position: left top;
                                            height: 27px;
                                            border: 1px solid #cccccc;
                                            width: 36px;
                                            font-size: 14px;
                                            text-align: center;
                                            left: 20px;
                                            top: 25px;
                                            position: absolute;
                                            display: block;
                                            line-height: 27px;
                                            color: #999999;
                                            text-align: center;
                                        }
                                        .goods_add {
                                            background-image: url(../images/goodsinfo_img1a.png);
                                            background-repeat: no-repeat;
                                            display: block;
                                            height: 14px;
                                            width: 18px;
                                            position: absolute;
                                            right: 24px;
                                             top: 25px;
                                            cursor: pointer;
                                            line-height: 50px;
                                            overflow: hidden;
                                        }
                                        .goods_min {
                                            background: url(../images/goodsinfo_img2a.png) 0px -17px;;
                                            background-repeat: no-repeat;
                                            display: block;
                                            height: 14px;
                                            width: 18px;
                                            position: absolute;
                                            right: 24px;
                                            top: 40px;
                                            cursor: pointer;
                                            line-height: 50px;
                                            overflow: hidden;
                                        }
                                }
                                .pri {
                                    width: 110px;
                                         strong {
                                            color: #cd0606;
                                            display: block;
                                            margin-right: auto;
                                            margin-left: auto;
                                            font-weight: normal;
                                            font-size: 14px;
                                            padding-top: 10px;
                                            font-family: Arial, Helvetica, sans-serif;
                                        }
                                }
                                .st {
                                    width: 80px;
                                        .del {
                                            line-height: 60px;
                                            height: 16px;
                                            width: 16px;
                                            background-image: url(../images/ico3a.png);
                                            background-repeat: no-repeat;
                                            background-position: center center;
                                            padding: 0 10px;
                                            overflow: hidden;
                                            display: block;
                                            margin: 0 auto;
                                            cursor: pointer;
                                            margin-top: 10px;
                                        }
                                        .del:hover {
                                            background-image: url(../images/ico3b.png);
                                        }
                                }
                        }
                        .txc {
                            background-color: transparent;
                            padding-top: 5px;
                            margin-top: -1px;
                            border-top: 1px solid #e0e0e0;
                            margin-bottom: 10px;
                                p {
                                    float: left;
                                    color: #888888;
                                } 
                                .ck {
                                    padding-top: 2px;
                                    width: 80px;
                                    padding-left: 20px;
                                    text-align: left;
                                }
                                .st {
                                    padding-top: 0px;
                                    margin-top: 0px;
                                    width: 200px;
                                    padding-left: 30px;
                                    overflow: hidden;
                                    text-align: center;
                                        a {
                                            display: block;
                                            height: 100%;
                                            color: #888;
                                                .del {
                                                    margin-top: 1px;
                                                    margin-right: 0px;
                                                    margin-left: 0px;
                                                    float: left;
                                                    width: 20px;
                                                    padding: 0px;
                                                    background-image: url(../images/ico3a.png);
                                                    background-repeat: no-repeat;
                                                    background-position: center center;
                                                    line-height: 60px;
                                                    height: 16px;
                                                    cursor: pointer;
                                                    overflow: hidden;
                                                    display: block;
                                                }
                                                .del:hover {
                                                    background-image: url(../images/ico3b.png);
                                                }
                                                // .del {
                                                //     margin-top: 0px;
                                                //     margin-right: 0px;
                                                //     margin-left: 0px;
                                                //     float: left;
                                                //     width: 20px;
                                                //     padding: 0px;
                                                // }
                                                strong {
                                                    font-weight: normal;
                                                    float: left;
                                                    padding-left: 3px;
                                                }
                                                strong:hover {
                                                    color: #ff0000;
                                                }
                                        }
                                        
                                }
                        }
                }
                .txe {
                    background-color: transparent;
                    padding-top: 5px;
                    margin-top: -1px;
                    border-top: 1px solid #e0e0e0;
                    margin-bottom: 10px;
                        p {
                            float: left;
                            color: #888888;
                        } 
                        .ck {
                            padding-top: 2px;
                            width: 80px;
                            padding-left: 20px;
                            text-align: left;
                        }
                        .str {
                            padding-top: 0px;
                            margin-top: 0px;
                            width: 200px;
                            padding-left: 30px;
                            overflow: hidden;
                            text-align: center;
                                a {
                                    display: block;
                                    height: 100%;
                                    color: #888;
                                        .dels {
                                            margin-top: 1px;
                                            margin-right: 0px;
                                            margin-left: 0px;
                                            float: left;
                                            width: 20px;
                                            padding: 0px;
                                            background-image: url(../images/ico3a.png);
                                            background-repeat: no-repeat;
                                            background-position: center center;
                                            line-height: 60px;
                                            height: 16px;
                                            cursor: pointer;
                                            overflow: hidden;
                                            display: block;
                                        }
                                        .dels:hover {
                                            background-image: url(../images/ico3b.png);
                                        }
                                        // .del {
                                        //     margin-top: 0px;
                                        //     margin-right: 0px;
                                        //     margin-left: 0px;
                                        //     float: left;
                                        //     width: 20px;
                                        //     padding: 0px;
                                        // }
                                        strong {
                                            font-weight: normal;
                                            float: left;
                                            padding-left: 3px;
                                        }
                                        strong:hover {
                                            color: #ff0000;
                                        }
                                }
                                
                        }
                }
        }
        .pribox {
            height: 100%;
            overflow: hidden;
            margin-bottom: 15px;
                .rbox {
                    float: right;
                    padding-top: 60px;
                    width: 370px;
                    padding-right: 15px;
                        p {
                            float: right;
                            color: #8c8c8c;
                        }
                        .pri {
                            font-size: 40px;
                            line-height: 40px;
                            color: #cd0606;
                            font-weight: bold;
                            margin-top: -7px; 
                        }
                        .tx {
                            padding-right: 5px;
                            padding-top: 15px;
                        }
                }
        }
        .cart_buy {
            background-color: #fafafa;
            padding: 15px;
                p {
                    float: left;
                    height: 35px;
                    width: 163px;
                    overflow: hidden;
                        a {
                            line-height: 35px;
                            background-repeat: no-repeat;
                            height: 35px;
                            // width: 163px;
                            overflow: hidden;
                            display: block;
                            font-family: \5FAE\8F6F\96C5\9ED1, \9ED1\4F53;
                            font-size: 16px;
                            text-align: center;
                            color: #ffffff;
                        }
                }
                .back a {
                    background-image: url(../images/buy_bk.png);
                    width: 153px;
                    padding-left: 10px;
                }
                .buy {
                    float: right;
                        a {
                            background-image: url(../images/buy_go.png);
                            background-repeat: no-repeat;
                            width: 153px;
                            padding-right: 10px;
                        }
                }
        }
        .comprobox {
            background-color: #ffffff;
            overflow: hidden;
                .comprotil {
                    padding: 1px;
                        ol {
                            background-image: url(../images/goods_title_bg1.png);
                            background-repeat: repeat-x;
                            height: 38px;
                                li {
                                    float: left;
                                    cursor: pointer;
                                    font-size: 14px;
                                    text-align: center;
                                    padding-right: 40px;
                                    padding-left: 40px;
                                    line-height: 36px;
                                    height: 36px;
                                    border-bottom: 2px solid;                               
                                    border-right: 1px solid #fff;
                                }
                                .on {
                                    color: #397300;
                                    border-bottom-color: #60a411;
                                }
                        }
                }
                .comprolist {
                    height: 100%;
                        .proli1 {
                            padding-top: 20px;
                            padding-right: 10px;
                            padding-bottom: 20px;
                            padding-left: 10px;
                        }
                }
        } 
}
