@charset "UTF-8";
/*
    
        作者：遇见
        时间：2019.05
        网站：趣呵茶网
        功能：购物车功能
*/
body {
  font: 12px "微软雅黑";
}

/*公共样式*/
/*鼠标滑过全部分类显示*/
.menu .allbtn .jspop_box {
  display: none;
}

.allbtn:hover .jspop_box {
  display: block;
}

.menu .allbtn h2 a:hover .jspop_box {
  display: block;
}

/*公共样式分割线-------------------------------------------------*/
#cart {
  width: 100%;
}

.cart_main {
  height: 100%;
  border-top: 2px solid #60a411;
}
.cart_main input {
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
}
.cart_main li {
  clear: both;
}
.cart_main .cart_sol {
  height: 100%;
  /*购物车商品列表*/
}
.cart_main .cart_sol .title {
  height: 36px;
  margin-bottom: 15px;
}
.cart_main .cart_sol .title em {
  float: right;
  line-height: 25px;
  height: 25px;
  margin-top: 10px;
  font-style: normal;
}
.cart_main .cart_sol .title em .buy {
  color: #ffffff;
  background-color: #cd0606;
  padding-top: 3px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
}
.cart_main .cart_sol .title em strong {
  font-size: 14px;
  color: #cd0606;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: normal;
}
.cart_main .cart_sol .title h3 {
  text-align: left;
  float: left;
  height: 36px;
  width: 500px;
  line-height: 36px;
  font-size: 24px;
  color: #000000;
}
.cart_main .cart_sol .cart_list {
  clear: both;
  margin-top: 0px;
}
.cart_main .cart_sol .cart_list li {
  clear: both;
}
.cart_main .cart_sol .cart_list li p {
  float: left;
}
.cart_main .cart_sol .cart_list .txa {
  line-height: 38px;
  height: 38px;
  color: #8c8c8c;
  border: 1px solid #e0e0e0;
}
.cart_main .cart_sol .cart_list .txa li {
  background-color: #fff;
}
.cart_main .cart_sol .cart_list .txa p {
  float: left;
  padding-top: 0px;
  color: #8c8c8c;
}
.cart_main .cart_sol .cart_list .txa .ck {
  width: 30px;
  padding-left: 20px;
  text-align: left;
}
.cart_main .cart_sol .cart_list .txa .img {
  width: 80px;
  padding-right: 15px;
  padding-left: 15px;
  height: auto;
  padding-bottom: 0px;
}
.cart_main .cart_sol .cart_list .txa .txt {
  width: 370px;
  padding-right: 120px;
  padding-left: 10px;
  text-align: left;
}
.cart_main .cart_sol .cart_list .txa .mpri, .cart_main .cart_sol .cart_list .txa .save, .cart_main .cart_sol .cart_list .txa .pri {
  width: 110px;
}
.cart_main .cart_sol .cart_list .txa .sunm {
  width: 100px;
  position: relative;
}
.cart_main .cart_sol .cart_list .txa .st {
  width: 80px;
}
.cart_main .cart_sol .ShoppingCartList {
  height: 100%;
}
.cart_main .cart_sol .ShoppingCartList .txb {
  background-color: #f7f7f7;
  position: relative;
  line-height: 35px;
  margin-top: -1px;
  z-index: 9;
  border: 1px solid #e0e0e0;
  padding-top: 7px;
  padding-bottom: 7px;
}
.cart_main .cart_sol .ShoppingCartList .txb p {
  float: left;
  padding-top: 0px;
  color: #111111;
  text-align: center;
}
.cart_main .cart_sol .ShoppingCartList .txb .cd {
  padding: 2px 0 0 20px;
  height: 20px;
  width: 20px;
  text-align: left;
}
.cart_main .cart_sol .ShoppingCartList .txb .ico {
  width: 50px;
  padding-left: 8px;
}
.cart_main .cart_sol .ShoppingCartList .txb .ico span {
  background-image: url(../images/cart1.png);
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 10px;
  line-height: 40px;
  overflow: hidden;
}
.cart_main .cart_sol .ShoppingCartList .txb .bt2 {
  font-size: 14px;
}
.cart_main .cart_sol .ShoppingCartList .txb .bt3 {
  padding-left: 15px;
}
.cart_main .cart_sol .ShoppingCartList .txd {
  background-color: #ffffff;
  position: relative;
  height: 30px;
  z-index: 1;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}
.cart_main .cart_sol .ShoppingCartList .txd p {
  float: left;
  text-align: center;
  padding-top: 0px;
}
.cart_main .cart_sol .ShoppingCartList .txd .tx {
  height: 20px;
  width: 80px;
  background-color: #f5f5f5;
  line-height: 20px;
  color: #6c6c6c;
  position: absolute;
  z-index: 99;
  left: 64px;
  bottom: -1px;
  border: 1px solid #e0e0e0;
}
.cart_main .cart_sol .ShoppingCartList .pro {
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px dotted #e0e0e0;
  text-align: center;
  color: #888;
  height: 100%;
  overflow: hidden;
}
.cart_main .cart_sol .ShoppingCartList .pro p {
  float: left;
  text-align: center;
  padding-top: 25px;
  color: #888;
}
.cart_main .cart_sol .ShoppingCartList .pro .ce {
  width: 30px;
  padding-left: 20px;
  padding-top: 40px;
  text-align: left;
}
.cart_main .cart_sol .ShoppingCartList .pro .pro_img {
  width: 80px;
  padding: 12px 15px;
}
.cart_main .cart_sol .ShoppingCartList .pro .pro_img img {
  height: 80px;
  width: 80px;
}
.cart_main .cart_sol .ShoppingCartList .pro .pro_img .juan {
  color: #ffffff;
  background-color: #ff9518;
  height: 80px;
  width: 80px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.cart_main .cart_sol .ShoppingCartList .pro .pro_img .juan .strong {
  text-align: center;
  display: block;
  line-height: 35px;
  height: 35px;
  font-size: 18px;
  padding-top: 10px;
}
.cart_main .cart_sol .ShoppingCartList .pro .pro_img .juan .small {
  line-height: 20px;
  padding-right: 5px;
  padding-left: 5px;
  height: 20px;
  overflow: hidden;
  font-size: 12px;
}
.cart_main .cart_sol .ShoppingCartList .pro .txt {
  width: 370px;
  padding-right: 120px;
  padding-left: 10px;
  text-align: left;
  color: #888;
}
.cart_main .cart_sol .ShoppingCartList .pro .mpri {
  width: 110px;
}
.cart_main .cart_sol .ShoppingCartList .pro .mpri del {
  display: block;
  color: #9c9c9c;
  font-family: Arial, Helvetica, sans-serif;
  height: 20px;
  text-decoration: line-through;
}
.cart_main .cart_sol .ShoppingCartList .pro .mpri strong {
  font-weight: normal;
  color: #3c3c3c;
  line-height: 16px;
  height: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.cart_main .cart_sol .ShoppingCartList .pro .save {
  width: 110px;
}
.cart_main .cart_sol .ShoppingCartList .pro .save strong {
  font-weight: normal;
}
.cart_main .cart_sol .ShoppingCartList .pro .save small {
  font-size: 12px;
  color: #ffffff;
  background-color: #ff9518;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 36px;
  text-align: center;
  line-height: 17px;
  height: 17px;
}
.cart_main .cart_sol .ShoppingCartList .pro .sunm {
  width: 100px;
  position: relative;
}
.cart_main .cart_sol .ShoppingCartList .pro .sunm input {
  background-repeat: no-repeat;
  background-position: left top;
  height: 27px;
  border: 1px solid #cccccc;
  width: 36px;
  font-size: 14px;
  text-align: center;
  left: 20px;
  top: 25px;
  position: absolute;
  display: block;
  line-height: 27px;
  color: #999999;
  text-align: center;
}
.cart_main .cart_sol .ShoppingCartList .pro .sunm .goods_add {
  background-image: url(../images/goodsinfo_img1a.png);
  background-repeat: no-repeat;
  display: block;
  height: 14px;
  width: 18px;
  position: absolute;
  right: 24px;
  top: 25px;
  cursor: pointer;
  line-height: 50px;
  overflow: hidden;
}
.cart_main .cart_sol .ShoppingCartList .pro .sunm .goods_min {
  background: url(../images/goodsinfo_img2a.png) 0px -17px;
  background-repeat: no-repeat;
  display: block;
  height: 14px;
  width: 18px;
  position: absolute;
  right: 24px;
  top: 40px;
  cursor: pointer;
  line-height: 50px;
  overflow: hidden;
}
.cart_main .cart_sol .ShoppingCartList .pro .pri {
  width: 110px;
}
.cart_main .cart_sol .ShoppingCartList .pro .pri strong {
  color: #cd0606;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-weight: normal;
  font-size: 14px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.cart_main .cart_sol .ShoppingCartList .pro .st {
  width: 80px;
}
.cart_main .cart_sol .ShoppingCartList .pro .st .del {
  line-height: 60px;
  height: 16px;
  width: 16px;
  background-image: url(../images/ico3a.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 10px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 10px;
}
.cart_main .cart_sol .ShoppingCartList .pro .st .del:hover {
  background-image: url(../images/ico3b.png);
}
.cart_main .cart_sol .ShoppingCartList .txc {
  background-color: transparent;
  padding-top: 5px;
  margin-top: -1px;
  border-top: 1px solid #e0e0e0;
  margin-bottom: 10px;
}
.cart_main .cart_sol .ShoppingCartList .txc p {
  float: left;
  color: #888888;
}
.cart_main .cart_sol .ShoppingCartList .txc .ck {
  padding-top: 2px;
  width: 80px;
  padding-left: 20px;
  text-align: left;
}
.cart_main .cart_sol .ShoppingCartList .txc .st {
  padding-top: 0px;
  margin-top: 0px;
  width: 200px;
  padding-left: 30px;
  overflow: hidden;
  text-align: center;
}
.cart_main .cart_sol .ShoppingCartList .txc .st a {
  display: block;
  height: 100%;
  color: #888;
}
.cart_main .cart_sol .ShoppingCartList .txc .st a .del {
  margin-top: 1px;
  margin-right: 0px;
  margin-left: 0px;
  float: left;
  width: 20px;
  padding: 0px;
  background-image: url(../images/ico3a.png);
  background-repeat: no-repeat;
  background-position: center center;
  line-height: 60px;
  height: 16px;
  cursor: pointer;
  overflow: hidden;
  display: block;
}
.cart_main .cart_sol .ShoppingCartList .txc .st a .del:hover {
  background-image: url(../images/ico3b.png);
}
.cart_main .cart_sol .ShoppingCartList .txc .st a strong {
  font-weight: normal;
  float: left;
  padding-left: 3px;
}
.cart_main .cart_sol .ShoppingCartList .txc .st a strong:hover {
  color: #ff0000;
}
.cart_main .cart_sol .txe {
  background-color: transparent;
  padding-top: 5px;
  margin-top: -1px;
  border-top: 1px solid #e0e0e0;
  margin-bottom: 10px;
}
.cart_main .cart_sol .txe p {
  float: left;
  color: #888888;
}
.cart_main .cart_sol .txe .ck {
  padding-top: 2px;
  width: 80px;
  padding-left: 20px;
  text-align: left;
}
.cart_main .cart_sol .txe .str {
  padding-top: 0px;
  margin-top: 0px;
  width: 200px;
  padding-left: 30px;
  overflow: hidden;
  text-align: center;
}
.cart_main .cart_sol .txe .str a {
  display: block;
  height: 100%;
  color: #888;
}
.cart_main .cart_sol .txe .str a .dels {
  margin-top: 1px;
  margin-right: 0px;
  margin-left: 0px;
  float: left;
  width: 20px;
  padding: 0px;
  background-image: url(../images/ico3a.png);
  background-repeat: no-repeat;
  background-position: center center;
  line-height: 60px;
  height: 16px;
  cursor: pointer;
  overflow: hidden;
  display: block;
}
.cart_main .cart_sol .txe .str a .dels:hover {
  background-image: url(../images/ico3b.png);
}
.cart_main .cart_sol .txe .str a strong {
  font-weight: normal;
  float: left;
  padding-left: 3px;
}
.cart_main .cart_sol .txe .str a strong:hover {
  color: #ff0000;
}
.cart_main .pribox {
  height: 100%;
  overflow: hidden;
  margin-bottom: 15px;
}
.cart_main .pribox .rbox {
  float: right;
  padding-top: 60px;
  width: 370px;
  padding-right: 15px;
}
.cart_main .pribox .rbox p {
  float: right;
  color: #8c8c8c;
}
.cart_main .pribox .rbox .pri {
  font-size: 40px;
  line-height: 40px;
  color: #cd0606;
  font-weight: bold;
  margin-top: -7px;
}
.cart_main .pribox .rbox .tx {
  padding-right: 5px;
  padding-top: 15px;
}
.cart_main .cart_buy {
  background-color: #fafafa;
  padding: 15px;
}
.cart_main .cart_buy p {
  float: left;
  height: 35px;
  width: 163px;
  overflow: hidden;
}
.cart_main .cart_buy p a {
  line-height: 35px;
  background-repeat: no-repeat;
  height: 35px;
  overflow: hidden;
  display: block;
  font-family: \5FAE\8F6F\96C5\9ED1, \9ED1\4F53;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
.cart_main .cart_buy .back a {
  background-image: url(../images/buy_bk.png);
  width: 153px;
  padding-left: 10px;
}
.cart_main .cart_buy .buy {
  float: right;
}
.cart_main .cart_buy .buy a {
  background-image: url(../images/buy_go.png);
  background-repeat: no-repeat;
  width: 153px;
  padding-right: 10px;
}
.cart_main .comprobox {
  background-color: #ffffff;
  overflow: hidden;
}
.cart_main .comprobox .comprotil {
  padding: 1px;
}
.cart_main .comprobox .comprotil ol {
  background-image: url(../images/goods_title_bg1.png);
  background-repeat: repeat-x;
  height: 38px;
}
.cart_main .comprobox .comprotil ol li {
  float: left;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
  line-height: 36px;
  height: 36px;
  border-bottom: 2px solid;
  border-right: 1px solid #fff;
}
.cart_main .comprobox .comprotil ol .on {
  color: #397300;
  border-bottom-color: #60a411;
}
.cart_main .comprobox .comprolist {
  height: 100%;
}
.cart_main .comprobox .comprolist .proli1 {
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}

/*# sourceMappingURL=cart.css.map */
